extends layout

append head
  title Authorize Dropbox

block content
  .row
    .col12
      h2 Allow Coconut to access an app-specific folder in your Dropbox.
      a.btn.btn-default(href=url)
        i.icon-fixed-width.icon-dropbox
        |  Authorize Dropbox
