extends layout

prepend head
  - title = exercise.title

block content
  .row
    .col-sm-12
      h2 #{exercise.title}&nbsp;
        small created by #{exercise.creator}
  .row
    .col-sm-9.col-md-6
      .panel
        .panel-body
          ul.list-unstyled
            for file in exercise.files
              li
                i.icon-fixed-width.icon-file-text
                |  #{file}
      a.btn.btn-default(href="/pair/#{exercise._id}")
        i.icon-fixed-width.icon-user
        |  Work on this exercise with a partner
