extends layout

prepend head
  - title = 'New Exercise'

block content
  .row
    .col-sm-9.col-md-6
      h2 Create an exercise from Dropbox
      p Source files in the exercise must be in a single package.
      .list-group
      for folder in folders
        a.list-group-item(href="/new#{folder}")
          i.icon-dropbox
          | #{folder}
